.download {
  background-color: $dark-green;
  color: $white;
  padding: 5.5rem;
  margin-top: 4rem;

  @include screen-size('tablet') {
    padding: 11rem 15rem;
  }

  &__button {
    background-color: transparent !important;
    max-width: 34rem;
    &:hover,
    &:focus {
      color: $white !important;
      border: 0.2rem solid $light-green !important;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.6rem;

    @include screen-size('tablet') {
      flex-direction: row;
      gap: 2.5rem;
    }
  }
}
