.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    display: flex;
    flex-direction: column;
    background: center/cover no-repeat;
    width: 100vw;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin: 0 auto;
    max-width: 144rem;
    padding: 6rem 1.8rem;
    @include largeText();

    @include screen-size('desktop') {
      padding: 6rem 10.9rem;
    }
  }

  &__text {
    background-color: $light-gray;
    border-radius: 5rem 0 5rem 0;
    opacity: 0.8;
    padding: 4rem;
  }

  &__line {
    width: 3.4rem;
    height: 0.1rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
  }
}
