.banner {
  margin: 0 auto;

  &__image {
    display: flex;
    flex-direction: column;
    height: 63.5rem;
    background: center/cover no-repeat;
    padding: 6.4rem 1.8rem 0;
    @include screen-size('desktop') {
      padding: 20.4rem 11rem 0;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    max-width: 27rem;
    margin-bottom: 6rem;
    @include largeText();

    @include screen-size('desktop') {
      max-width: 60.6rem;
    }
  }

  &__line {
    width: 34.365px;
    height: 1px;
  }
}
