.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34rem;

    @include screen-size('desktop') {
      max-width: 70rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;
  }
}
