.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 0.1rem solid $black;
  border-radius: 0.8rem;
  padding: 0 1.8rem;
  background: $white;


  &__closeButton {
    display: flex;
    justify-content: flex-end;
    margin: 4rem 0 1.5rem;
    cursor: pointer;

    &:hover {
      fill: $dark-green;
    }
  }

  &__interaction {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 4rem 0;

    @include screen-size('desktop-lg') {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
