.goals {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__textContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2rem 0 4rem;

    @include screen-size('desktop') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: 4rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include screen-size('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-size('desktop') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button {
    @include screen-size('desktop') {
      grid-area: 1 / 3 / 2 / 4;
    }
  }

  &__text {
    @include screen-size('desktop') {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  &__modal {
    @include screen-size('desktop') {
      grid-area: 2/1/2/3;
    }
  }
}
