.modal {
  position: absolute;
  background-color: $gray;
  width: 30.4rem;
  padding-left: 0 !important;
  height: 44.6rem;
  color: $white;
  fill: $light-gray;

  &__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    padding-inline: 1.8rem;
  }

  &__closeButton {
    cursor: pointer;

    &:hover {
      fill: $green;
    }
  }
}
