.input {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 0.8rem;
    border: 2px solid $black;
    background-color: $white;
    @include text();
  
    &:focus-visible,
    &:checked,
    &:focus,
    &:focus-within {
      outline: 3px solid $black;
      border: none;
    }
  
    &__label {
      @include text();
      &::selection {
        background-color: $black;
        color: $white;
      }
    }
  
    &__field {
      width: 100%;
      outline: none;
    }
  
    &__validation {
      display: flex;
      font-weight: 700;
      color: $black
    }
  }