.myHabits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: 144rem;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;

    @include screen-size('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    
    @include screen-size('desktop') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 4rem;
    }
  }
}
