.link {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  color: $dark-green;
  fill: $dark-green;
  font-size: 1.6rem;
  cursor: pointer;

  @include screen-size('desktop') {
    font-size: 2.4rem;
  }
}
